<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
            <div class="card   mx-2 my-4" style="width:15rem" *ngFor="let item of objRows ">
                <img [src]="item.url" class="card-img-top" alt="..." style="width:15rem">
                <div class="card-body text-white bg-info">
                    <h1 class="card-title"> {{item.id}}</h1>
                    <h5 class="card-title"> {{item.title}}</h5> 
                   <a [href]="item.thumbnailUrl" class="btn btn-warning my-2">thumnailUrl</a>
                        <button class="btn btn-success" [ngClass]="CompareMode?'btn-danger':'btn-success'" (click)="userCompare(item)">
                            {{CompareMode?'Remove':'Compare'}}
                         </button>
                </div>
            </div>

        </div>
       
    </div>
</div>

<div class="result">
    <table class="table">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">image</th>
                <th scope="col">title</th>
                <th scope="col">thumnailUrl</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of addtable">
                <th scope="row">{{item.id}}</th>
                <td><img [src]="item.url" alt="" width="120"></td>
                <td><strong>{{item.title}}</strong></td>
                <td><strong><a href="item.thumbnailUrl">{{item.thumbnailUrl}}></a></strong></td>
              </tr>
              
            </tbody>
          </table>
    </table>
</div>
</div>